body{
  margin-top: 60px;
  margin-left: 40px;
  margin-bottom: 20%;
  font-family: STZhongsong;
}

.info {
  margin-left: 3px;
}

.info > * {
  display: inline-block;
}

.info .content {
  width: 135px;
}

.info .content > input,
.fillBlank input {
  width: 130px;
}

.info > *,
.fillBlank ol li,
.trueOrFalse ol li {
  margin-bottom: 3px;
}

.singleChoice ol li,
.multiChoice ol li,
.shortQuestion ol li {
  margin-bottom: 20px;
}

.shortQuestion #model {
  width: 50%;
  height: 100px;

}
